html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f2f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singup {
    max-width: 330px;
    width: 100%;
    height: 490px;
    background-color: #fff;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.signup-heading {
    font-size: 2.5rem;
    font-weight: 600;
    color: #363a3f;
    text-align: center;
    margin-bottom: 20px;
}

.signup-social {
    padding: 6px;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    width: 100%;
    height: 44px;
    border-radius: 10px;
    background-color: #4c6ef4;
    display: inline-block;
    border: none;
    box-shadow: 0px 5px 15px rgba(76, 110, 244, 0.5);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.signup-social-icon {
    width: 34px;
    height: 34px;
    font-size: 2rem;
    background: #fff;
    border-radius: 5px;
    color: #4c6ef4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-social-text {
    display: inline-block;
    margin: 0 auto;
}

.signup-or {
    font-size: 1rem;
    color: #73777a;
    text-align: center;
    position: relative;
    margin: 30px 0;
}

.signup-or span {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    z-index: 2;
    position: relative;
}

.signup-or::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1px;
    background-color: #73777a;
    opacity: 0.1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.signup-label {
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 5px 0;
}

.signup-input {
    width: 100%;
    height: 42px;
    padding: 15px;
    font-size: 1rem;
    color: #c4c9cd;
    border: none;
    border-radius: 10px;
    background-color: #f2f3f5;
}